<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Droid+Sans:400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.css">
</head>

<body>
    <app-headerusuario></app-headerusuario>

    <div class="padding">
        <h1 class="text">¡Bienvenido usuario!</h1>
        <hr class="color">
        <div class="divbutton">
            <form action="/library">
                <button class="button">Ver todos los libros disponibles</button>
            </form>
        </div>
        <hr class="color">
    </div>
    <div class="margen">
        Tu libreria:
    </div>

    <!--  ========== Gallery Thumbnails ========== -->

    <div class="tz-gallery">

        <div class="row">
            <div class="col-sm-8 col-md-3" *ngFor="let item of [1,1,1,1,1,1,1,1]">
                <a class="lightbox"
                    href="https://drive.google.com/file/d/1eBnoR9gyoFMDbXEi5Wdjp4fap2QxIFlW/view?usp=sharing">
                    <img src="../../../assets/libro.jpg" alt="Park">
                </a>
            </div>
        </div>

    </div>




    <!--  ========== End Gallery Row ========== -->
</body>