<body>
    <app-headerusuario></app-headerusuario>
    <div class="padding">
    <h1 class="text">Mi perfil</h1>
    <hr class="color">
    </div>
<form action="/my-handling-form-page" method="post">
    <ul>
     <li>
       <label for="name">Nickname:</label>
       <input type="text" id="name" name="user_name" />
     </li>
     <li>
       <label for="mail">Nombre:</label>
       <input type="email" id="mail" name="user_email" />
     </li>
     <li>
       <label for="msg">Apellido paterno:</label>
       <input id="msg" name="user_message"/>
     </li>
     <li>
      <label for="name">Apellido materno:</label>
      <input type="text" id="name" name="user_name" />
    </li>
    <li>
      <label for="mail">Fecha de nacimiento:</label>
      <input type="email" id="mail" name="user_email" />
    </li>
    <li>
      <label for="msg">Correo electronico:</label>
      <input id="msg" name="user_message"/>
    </li>
    <li>
      <label for="msg">Contraseña:</label>
      <input id="msg" name="user_message"/>
    </li>
</ul>
</form>
</body>
