
    .padding{
        text-align: center;
        padding-top: 5px;
        padding-left: 80px;
        padding-right: 80px;
    }
    .margen{
        padding-top: 5px;
        padding-left: 80px;
        padding-right: 80px;
    }
    .text{
        text-align: center;
        font-family: 'Righteous';
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 50px;
  color: #424242;

    }
    .color{
        color:#9CC9D2;
    }
    

.tz-gallery {
    padding-left: 80px;
}

.tz-gallery .lightbox img {
    width: 40%;
    height: 70%;
    margin-bottom: 30px;
    transition: 0.2s ease-in-out;
    box-shadow: 0 2px 3px rgba(0,0,0,0.2);
}


.tz-gallery .lightbox img:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 15px rgba(0,0,0,0.3);
}

.tz-gallery img {
    border-radius: 4px;
}

.baguetteBox-button {
    background-color: transparent !important;
}

