<body>
    <app-header></app-header>
    <div class="padre">
        <span class="hijo">Sobre nosotros</span>
    </div>
    <div class="posicion">
        <img class="tamaño" src="../../../assets/libroipad.png" />
    </div>
    <div class="divtext">
        <span class="hijotext"> 
            Mas que unos amigos, una familia de personas que comparten el placer de leer y la pasión por la cultura. Nuestro reto es hacer de esta familia, de este círculo de amigos, algo más grande, más cálido, cada día. Ello significa crear un ambiente relajado, íntimo, inteligente… Que los usuarios sientan que SOPHOS es como su segunda casa, o mejor aún: ¡que sientan que es la primera! </span>
    </div>
</body>   
