<body>
    <app-header></app-header>
    <div class="padre"> 
        <span class="hijo">Lorem        ipsum dolor</span>
    </div>
    <div class="posicion">
        <img class="tamaño" src="../../../assets/logoblanco.png" />
    </div>
    <div class="divtext">
        <span class="hijotext"> "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna  aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</span>
    </div>
    <div class="divbutton">
        <form action="/login">
        <button class="button">Comenzar</button>
    </form>
    </div>
</body> 
