<head>
</head>


<body>

    <app-header></app-header>
    <div class="padre"> 
        <span class="hijo">Entre Lineas</span>
    </div>
    <div class="posicion">
        <img class="tamaño" src="../../../assets/logoblanco.png" />
    </div>
    <div class="divtext">
        <span class="hijotext"> Entre Lineas es para todos,  sin importar su etapa de lectura o libros preferidos disfrutan de una amplia gama de titulos que, te permitan entrar a un nuevo mundo de conocimiento, descubrir nuevos lugares donde tu imaginacion pueda volar y permite que este sitio  se vuelve tu rincón de lectura favorito,</span>
    </div>
    <div class="divbutton">
        <form action="/login">
        <button class="button">Comenzar</button>
    </form>
    </div>
</body> 
